doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            //
    body
        .bodyAdminDiv
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 代码*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="code", type="text")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 名称*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="name", type="text")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 父级*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="parent", type="text")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 角色*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="userType", type="text")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") url*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="url", type="text")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") &nbsp;
                .vs_grid_plain(style="margin-left:8px;")
                    input(type="button", value="添加", id="add")