html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-data-tree", function(S, Io, Node, Json, VsDataTree){
                var backValueNode = Node.one("#backValue");

                var getChildren = function(id, cb)
                {
                    var bodyNode = {cond:{parent:id}};
                    CurSite.sendDigest(Io, Json, "AD01", null, bodyNode, function(err, backBodyNode){
                        cb(err, backBodyNode.rst);
                    });
                };

                var selectionChange = function(src, target)
                {

                };

                var bodyNode = {cond:{parent:''}};
                CurSite.sendDigest(Io, Json, "AD01", null, bodyNode, function(err, backBodyNode){
                    if(backBodyNode.repCode == '0000')
                    {
                        var tree = new VsDataTree("#opTree", {data:backBodyNode.rst, getChildren:getChildren,
                        selectionChange:selectionChange
                        });
                    }
                    else
                    {
                        alert(backBodyNode.description);
                    }
                });

                var checkParam = function(data)
                {
                    return true;
                };

                var getData = function()
                {
                    var data = {};
                    return data;
                };

                backValueNode.on("click", function(e) {
                    var data = getData();
                    if(!checkParam(data))
                    {
                        parent.checkSuccess(null);
                    }
                    else
                    {
                        parent.checkSuccess({operations:data});
                    }
                });

                backValueNode.val(getData());  //init default value of backValue element
            });
    body
        input(id="backValue", type="hidden", value="")
        .bodyAdminDiv
            .clearfix(style="border-bottom:1px solid #28afae;")='角色:' + userType.code + '(' + userType.des + ')'
            .clearfix(style="border-bottom:1px solid #28afae;margin-top:20px;")
                |请选择权限:
            .clearfix(style="margin-top:6px;")
                #opTree.container(style="margin-left:10px;")
