doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-list", function(S, Io, Node, Json, VsList){
                var selectedId = Node.one("#selectedId").val();
                var list = new VsList("#userTypeList", {selectedId:selectedId});

                var checkParam = function(data)
                {
                    return true;
                };

                var getData = function()
                {
                    var data = list.getSelectedData();
                    return data;
                };

                var backValueNode = Node.one("#backValue");
                backValueNode.on("click", function(e) {
                    var data = getData();
                    if(!checkParam(data))
                    {
                        parent.checkSuccess(null);
                    }
                    else
                    {
                        parent.checkSuccess({userType:data});
                    }
                });
                backValueNode.val(getData());  //init default value of backValue element
            });
    body
        .bodyAdminDiv
            input(id="backValue", type="hidden", value="")
            input(id="selectedId", type="hidden", value=selectedId)
            input(id="frameId", type="hidden", value=frameId)
            input(id="parentFrameId", type="hidden", value=parentFrameId)
            #userTypeList(class="container", style="width:180px;height:700px;")
                ol
                    - each val in rst
                        li(value=val.id)= val.des